body {
    font-family: 'Lato', sans-serif;
    font-family: 'Lora', serif;
    font-family: 'Noto Serif', serif;
    font-family: 'Poppins', sans-serif;
}


/*header section */

h1 {
    font-size: 60px;
    padding-bottom: 10px;
    line-height: .7em;
}

#heading {
    border-left: 2px solid tomato;
    border-left-width: 5px;
    margin-top: 5px;
    padding-left: 10px;
}

.tomato-color {
    color: tomato;
}

.header-container {
    display: flex;
}

.header-width {
    width: 100%;
    padding: 50px;
}

.go-button {
    text-decoration: none;
    background: linear-gradient(black, gray);
    color: white;
    padding: 10px 10px;
    border-radius: 5px;
    margin: 10px 0px;
}

.div-space {
    width: 50%;
}

.div-space img {
    width: 80%;
}

h2 {
    font-size: 40px;
    text-align: center;
}


/*mission section*/

.mission-section {
    display: flex;
    width: 100%;
    justify-content: normal;
}

#mission {
    text-align: center;
    display: block;
    box-sizing: border-box;
    background-color: cyan;
    border-radius: 5%;
    border-image: linear-gradient(cyan, gray);
    padding: 20px 20px;
    margin: 30px 40px;
    box-shadow: 10px 5px 5px rgb(221, 213, 213);
    width: 100%;
}

#vission {
    text-align: center;
    display: block;
    box-sizing: border-box;
    background-color: teal;
    border-radius: 5%;
    border-image: linear-gradient(teal, gray);
    padding: 20px 20px;
    margin: 30px 30px;
    box-shadow: 10px 5px 5px rgb(216, 203, 203);
    width: 100%;
}

#goals {
    text-align: center;
    display: block;
    box-sizing: border-box;
    background-color: bisque;
    border-radius: 5%;
    border-image: linear-gradient(bisque, black);
    padding: 20px 20px;
    margin: 30px 30px;
    box-shadow: 10px 5px 5px rgb(212, 196, 196);
    width: 100%;
}

.element-size {
    justify-content: flex;
    align-items: center;
}

.mission-section img {
    width: 70%;
}

.mission-section h1 {
    font-size: 20px;
}

.mission-section p {
    align-items: center;
}


/*Web-development section*/

.web-development {
    display: flex;
    justify-content: normal;
    width: 100%;
    margin: 50px 50px;
    background-image: url(images/shapes/shape-12.png);
    background-position: left;
    background-repeat: no-repeat;
}

.web-development img {
    width: 100%;
    padding-top: 30px;
}

.web-description {
    padding-left: 50px;
}


/*programming-hero community section */

.about-programming-hero {
    display: flex;
    width: 100%;
    background-image: url(images/shapes/shape-1.png);
    background-position: right bottom;
    background-repeat: no-repeat;
    margin-top: 50px;
    line-height: 30px;
}

.about-programming-hero img {
    width: 100%;
    padding-right: 20px;
}

.programming-hero {
    width: 100%;
    padding-left: 50px;
}


/*sign-up section*/

.sign-up {
    display: flex;
    align-items: center;
    margin-top: 50px;
}

#email {
    margin: 10px 10px;
    padding: 5px 10px;
    align-items: center;
}

#submit {
    margin: 10px 10px;
    padding: 5px 10px;
    background: linear-gradient(rgb(228, 39, 6), rgb(14, 13, 13));
    color: white;
    border-radius: 10%;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
}